
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


:root{
    --main-color: #00D3FF;
    --bg-color: #1b1b1b;
    --second-bg-color: #202020;
    --text-color:white;
    --second-text-color:#878787;
    --box-color:#504E4E;
    --scroll-color:#1A1A1A;
}

*{
    font-family: "Urbanist", sans-serif,"IBM Plex Sans";
    font-optical-sizing: auto;
    /*font-weight: <weight>;*/
    font-style: normal;
    /*background-color: var(--bg-color);*/
    color: var(--text-color);
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    overflow-x: hidden ;
    background: radial-gradient(circle at top left , #202020, rgb(0, 83, 101),transparent 20%, transparent 100%) fixed, radial-gradient(circle at bottom right, #202020, rgb(0, 83, 101),transparent 15%, transparent 100%) fixed !important;
    background-color: #000000 !important;

}

.header{
    background-color: #1A1A1A;
    height: 4.5rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100;

}

.header>nav{
    position: absolute;
    right: 2.5rem;
}

.header>nav>ul{
    list-style: none;
    margin: auto;
}

.header>nav>ul>li{
    display: inline;
    margin: 0 20px;
}

.header>nav>ul>li>a{
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
}

header>.logo{
    background: url("assets/Header_section/SD_white.png");
    background-size: cover;
    /*border: 2px solid black;*/
    width: 3rem;
    height: 3.3rem;
    position: absolute;
    left: 2.5rem;
}


header>nav>ul>li>a:hover{
    /*background-color: black;*/
    color: deepskyblue;
    /*border-radius: 20px ;*/
    /*padding: 5px;*/
}

header>nav>ul>li>a:active {
    color: red;

}
main{
   /* background: radial-gradient(circle at top right, #e171a6, rgb(180, 58, 119),transparent 50%, transparent 100%) fixed !important;
    background-color: #2d0019!important;*/
}

.footer{
    background-color: #FFFFFF;
    padding: 0.02rem 0;

}

.footerPara{
    color: black;
    text-align: center;
    font-style: italic;
}

/*-----------------------------------hero section--------------------------------------------------------*/
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 20px;
    min-height: 100vh;
    box-sizing: border-box;
    /*background: linear-gradient(48deg, rgba(0,0,0,1) 68%, rgba(2,72,87,1) 100%);*/
}

.box-container-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /*max-width: 1200px;*/
    /*border: 2px solid white;*/
    margin: 0 10px;
    flex-wrap: wrap;
}

.box-main {
    flex: 1;
    /*padding: 20px;*/
    /*border: #00D3FF 2px solid;*/
}

.box-container-main>.box-main:nth-child(1){
    padding-left: 30px;
}

/* Styling for the welcome titles */
.welcomeTitles h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 3rem;
    color: #878787;
}

.heading{
    margin-top: 33px;
    font-size: 4rem;
    font-weight: bold;
    /*margin: 2px 0;*/
    color: var(--text-color);
}

.welcomeTitles h3 {
    font-size: 2.8rem;
    margin-bottom: 20px;
    color: var(--main-color);
}

.italicParagraph{              /*.welcomeDescription p*/
    font-size: 1.2rem;
    font-family: "IBM Plex Sans";
    font-style: italic;
    line-height: 1.6;
    color: var(--second-text-color);
}

.socialIcon\&CvButton{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 20px;
    /*border: #e8b24a 2px solid;*/
}

.socialIcon{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
    font-size: 1.8rem;
    transition: color 0.3s ease;
    /*border: #78e34e 2px solid;*/
    cursor: pointer;
}

.socialIcon .fa-brands:hover{
    color: var(--main-color);
}

.button{
    background: rgb(0,211,255);
    background: linear-gradient(81deg, rgba(0,211,255,1) 0%, rgba(0,127,153,1) 14%);
    color: var(--text-color);
    border-radius: 20px;
    font-size: 0.8rem;
    font-family: "Urbanist";
    padding: 8px 35px;
    cursor: pointer;
    transition: background-color 0.3s ease ;
}

.button:hover {
    background-color: #d08a00;
}

.box-container-main>.box-main:nth-child(2){
    display: flex;
    justify-content: center;
    padding-left: 50px;
    position: relative;
}

.sdLogo{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 250px;
    right:-20px
}

.heroPic{
    display: flex;
    justify-content: center;
    /*width: 30vw;
    height: 65vh;*/
    width: 380px;
    height: 380px;
    border-radius: 100%;
    border: 4px solid var(--text-color);
    position: relative;

    background: rgb(0,83,101);
    background: linear-gradient(210deg, rgba(0,83,101,1) 4%, rgba(0,0,0,1) 70%);
}

.heroPic img{
    /*max-width: 400px;
    max-height: 480px;*/
    max-width: 300px;
    max-height: 380px;
    border-radius: 100%;
}

@media all and (max-width:1200px ) {
    html{
        font-size: 75%;
    }


    .socialIcon{
        font-size: 30px;
    }

}


@media (max-width: 768px) {
    .box-container-main {
        flex-direction: column-reverse;
    }

    .welcomeTitles{
        text-align: center;
    }

    .box-container-education-card{
        /*border: var(--text-color) 2px solid;*/
        grid-template-columns: 1fr;
    }
}



@media all and (max-width: 500px) {
    html{
        font-size: 60%;
    }

    .heroPic{
        width: 220px;
        height: 220px;
    }

    .sdLogo{
        width: 75px;
        height: 75px;
        right: 5px;
        top:160px;

    }

    .socialIcon{
        font-size: 2.4rem;
    }

    .box-container-main>.box-main:nth-child(2){
        padding: 0;
    }
}

@media all and (max-width: 320px){

}

/*-------------------------------------------About Section---------------------------------------------------*/
.heading1{
        margin-top: 33px;
        margin-bottom: 15px;
        font-size: 4rem;
        font-weight: bold;
        /*margin: 2px 0;*/
        color: var(--text-color);
        text-align: center;
}

.blueText{
    font-size: 1.3rem;
    color: var(--main-color);
    font-family: "IBM Plex Sans";
}


.whiteText{
    font-size: 1.3rem;
    color: var(--text-color);
    font-family: "IBM Plex Sans";
}
 .myDetails div{
     margin: 20px 0;
 }

 #about{
     /*border: 2px solid white;*/
     margin-top: 2rem;
 }

 .box-container-about{
     /*border: 2px solid white;*/
     display: grid;
     grid-template-columns: 3fr 1fr;

 }

 .box-about{
     /*border: 2px solid deepskyblue;*/
 }

 .box-container-about>div:first-child{
     padding-left: 4rem;
     display: grid;
     grid-template-columns: 1fr;
     column-gap: 4rem;
 }

.box-container-about>div:nth-child(2){
    padding-right: 6rem;

}
 .myDetails{
     padding-left: 7rem;
 }

 .aboutParagraph{
     line-height: 2.5rem;
 }

 .aboutMeImage{
     width: 18rem;

 }

@media all and (max-width: 635px) {
    .box-container-about{
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }


    .box-about:nth-child(2){
        margin: auto;
        padding-right: 0;
    }
    .box-container-about>div:nth-child(2){
        padding-right: 0;

    }
}



/*------------------------------------education section----------------------------------------------------------------- */

#education{
    padding: 4rem;
}


.heading2{
    margin-top: 33px;
    margin-bottom: 15px;
    font-size: 3rem;
    font-weight: bold;
    font-family: "Urbanist", sans-serif;
    /*margin: 2px 0;*/
    color: var(--text-color);

}

/*#education>section>section>img{
    width: 4rem;
    height: 2rem;
}*/

.ijseLogo{
    width: 5em;
    height: 2rem;
}

.rajarataLogo{
    width: 2.3rem;
    height: 2rem;
}

.hccLogo{
    width: 2.3rem;
    height: 2rem;
}



#education>section>section>h5{
    margin: 0;
}

#education>section>section>h6{
    margin: 0;
}

#education>section>section{
    margin: 1rem;
    border: 1px solid var(--text-color);
    border-radius: 16px;
    padding: 1.3rem 2rem ;
    box-shadow: 2px 7px 3px 4px rgba(255,255,255,0.26);
    -webkit-box-shadow: 2px 7px 3px 4px rgba(255,255,255,0.26);
    -moz-box-shadow: 2px 7px 3px 4px rgba(255,255,255,0.26);

}

.box-container-education-card{
    display: grid;
    grid-template-columns: 1fr 1fr ;

}

@media all and (max-width: 768px) {
    .box-container-education-card{
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }

    #education>section>section{
        width: 60%;
        margin: 1.3rem auto;
    }

    
}


/*------------------------------------my service section----------------------------------------------------------------- */

main{
    padding: 5rem;
}
.italicParagraphCentered{
    font-size: 1.2rem;
    font-family: "IBM Plex Sans";
    font-style: italic;
    line-height: 1.6;
    color: var(--second-text-color);
    text-align: center;
}

.box-container-service-card{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-gap: 10px;
}

.box-container-service-card>div{
    border: var(--text-color) 1px solid;
    border-radius: 10%;
    /*width: 22vw;
    height: 50vh;*/
    width: 17.5rem;
    height: 17.5rem;
    box-sizing: border-box;
    padding: 1.5rem;
    background-color: rgba(80, 78, 78, 0.2);
    /*box-shadow: 0px 3px 2px 1px #FFFFFF;*/
    box-shadow: 1px 3px 2px 1px #FFFFFF;
    transition: transform 0.45s;


}

.box-container-service-card>div:hover{
    border: var(--main-color) 4px solid;
    box-shadow: 1px 3px 2px 1px var(--main-color);
    transform: scale(1.05);
}


.box-container-service-card>div>div>img{
    width: 3.2rem;
}

.heading4{
    font-size: 1.3rem;
    margin-top: 0;
}

.serviceParagraph{
    font-size: 0.95rem;
    font-family: "IBM Plex Sans";
    font-style: italic;
    color: var(--text-color);
}

@media all and (max-width: 820px) {
    html{
        font-size: 55%;
    }
}

@media all and (max-width: 550px) {
    html{
        font-size: 42%;
    }


}

@media all and (max-width: 425px) {
    html{
        font-size: 50%;
    }
    .box-container-service-card{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;

    }

    .box-container-service-card>div{
        margin: auto;
    }
}

/*------------------------------------project section----------------------------------------------------------------- */

.box-container-project-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px;
    align-items: center;
    justify-content: center;
}

.box-project-card{
    width: 20rem;
    height: 20rem;
    border: 2px solid white;
    border-radius: 10%;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 4px 2px 1px #FFFFFF;
}

.box-project-card img{
    width: 100%;
    border-radius: 10%;
    display: block;
    transition: transform 0.5s;
}

.overlay{
    height: 0;
    width: 100%;
    background: linear-gradient(transparent, #1b1a1a 58%);
    border-radius: 10%;
    padding: 5px;
    position: absolute;
    left:0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: height 0.5s;
}

.overlay h3{
    color: #1b1a1a;
    background-color: #FFFFFF;
    border-radius: 1.25rem;
    padding: 0.3rem;
}

.overlay h6{
    margin-top: 0;
    color: white;
    font-size: 0.9rem;
    border-radius: 20px;
    padding: 5px;
}

.overlay p{
    padding: 5px;
    color: var(--main-color);
    text-align: center;
}

.box-project-card:hover img{
    transform: scale(0.9);
}

.box-project-card:hover .overlay{
    height: 100%;
}

.overlay div{
    background-color:#005365FF;
    border-radius: 20px;
    padding: 5px 20px;

}

.overlay div a{
    text-decoration: none;
}

.fa fa-eye{
    width: 50px;
}

@media all and (max-width: 768px) {
    .box-container-project-cards{
        grid-template-columns: repeat(2,minmax(15rem, 1fr)) ;
        align-items: center;
        justify-content: center;


    }

    .box-project-card{
        margin: auto;
    }

}

@media all and (max-width: 375px) {
    .box-container-project-cards{
        grid-template-columns: repeat(1,minmax(15rem, 1fr)) ;
        align-items: center;
        justify-content: center;


    }

    .box-project-card{
        margin: auto;
    }


}



/*------------------------------------assignment section----------------------------------------------------------------- */

.box-container-assignment-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

.assigmentCard{
    width: 15rem;
    height: 18rem;
}

.assignmentCardContent{
    width: 15rem;
    height: 18rem;
    background-color: rgba(69, 69, 69, 0.19);
    border: 0.2rem solid white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;

}

.assignmentCardContent img{
    width: 80%;
    height: 70%;

}

.assignmentCardContent h6{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1rem;
}

.assigmentCard>div>div{
    background-color:#005365FF;
    border-radius: 20px;
    padding: 5px 20px;
}

.assigmentCard>div>div>a{
    text-decoration: none;
}

@media all and (max-width: 768px) {
    .box-container-assignment-cards{
        grid-template-columns: repeat(3, 1fr) ;
        align-items: center;
        justify-content: center;


    }

    .assignmentCardContent img{
        /*width: 70%;
        height: 60%;*/
        width: 10rem;
        height: 9rem;

    }

    .box-project-card{
        margin: auto;
    }

}

@media all and (max-width: 375px) {
    .box-container-assignment-cards{
        grid-template-columns: repeat(2, 1fr) ;

    }


}


/*------------------------------------Skill section----------------------------------------------------------------- */


.heading3{
    font-size: 1.8rem;
}

.box-container-tools{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-content: center;
}

.box-container-tools>div{
    margin: auto;
}

.box-container-tools>div>h6{
    margin-top: 0.6rem;
    font-size: 1.1rem;
    text-align: center;
}

.box-container-tools>div>img{
    width: 3.5rem;
    height: 3.5rem;
}

.box-container-tools>div>i{
    font-size: 3.5rem;
}

.box-container-tools>div:hover{
    transform: scale(1.2);
}

.box-container-tools>div>h6:hover, .box-container-tools>div>i:hover {
    color: #079ebd;
}

.btnCertficate{
    width: fit-content;
    background: rgb(0,211,255);
    background: linear-gradient(81deg, rgba(0,211,255,1) 0%, rgba(0,127,153,1) 14%);
    color: var(--text-color);
    border-radius: 20px;
    font-size: 0.8rem;
    font-family: "Urbanist";
    padding: 8px 35px;
    cursor: pointer;
    transition: background-color 0.3s ease ;
}

.btnCertficate:hover {
    /*background: rgba(133, 133, 133, 0.19);*/
    border: #FFFFFF 2px solid;
}




/*------------------------------------Gallery section----------------------------------------------------------------- */

.gallery-box-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
}

.gallery-box-container div{
    margin: auto;
}

.gallery-box-container div img{
    width: calc(100vw/6.5);

}

.gallery-box-container div div{
    width: calc(100vw/6);

}

.italicParagrahSm{
    font-size: 0.8rem;
    font-family: "IBM Plex Sans";
    font-style: italic;
    line-height: 1.6;
    color: var(--second-text-color);
    text-align: center;
}


/*------------------------------------Contact section----------------------------------------------------------------- */

.contactInfo{
    background-image: url("assets/contact_section/office4.png");
    width: 95%;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 5rem 1rem;

}

.box-container-contact{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;

}

.box-container-contact>section{
   padding: 1.5rem;

}

.box{
    display: flex;
    margin: 1.5rem 1.5rem;
}
.contactInfo{
    padding-top: 2.5rem;
}

.contactInfo .box .icon{
    padding: 0 1rem;
}

.contactInfo .box .text h4{
    margin: 0;
}

.contactForm{
    width: 100%;
    border: 2px white solid;
    border-radius: 20px;
    background-color: rgba(80, 78, 78, 0.2);
}


.contactForm h3{
    text-align: center;
    margin-top: 0 ;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contactForm input, textarea{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #FFFFFF;
    margin: 0.5rem 0;
    padding: 0.5rem;
}

.contactForm .inputBox{
    margin: 1rem 0;

}

.contactForm .inputBox input, textarea{
    width: 90%;

}

.contactForm button{
    font-size: 1rem;
    width: 70%;
}

form>div:nth-child(5){
    display: flex;
    align-items: center;
    justify-content: center;
}


@media all and (max-width: 425px) {

    .box-container-contact {
        display: flex;
        flex-direction: column-reverse;
        font-size: 1.5rem;

    }

    .box-container-contact .contactInfo{
        width: 81vw;
    }




}


















